
@model IList<Condominio>;

@{
    ViewData["Title"] = "Listar";
}

<h1>Listar</h1>


<mensagem texto="@TempData["msg"]"></mensagem>

<form asp-action="Pesquisar" method="get">

    <div class="form-group">

        <input class="form-control" name="nome" />
    </div>

    <div class="form-group">
        <input type="submit" />
    </div>

</form>


<table class="table">

    <tr>
        <th>Nome</th>
        <th>Blocos</th>
        <th>Ativo</th>
        <th>Tipo</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Nome</td>
            <td>@item.Blocos</td>
            <td>@(item.Ativo ? "Sim" : "Não")</td>
            <td>@item.Tipo</td>
            <td><a asp-action="Editar" asp-route-id="@item.CondominioId">Editar</a></td>
            <td><a onclick="cod.value = @item.CondominioId"  data-toggle="modal" data-target="#modalExemplo">Excluir</a></td>
        </tr>
    }


</table>

<!-- Modal -->
<div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Mensagem</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Deseja realmente exluir</p>
            </div>

            <form class="form" asp-action="excluir" method="post">
                <div class="modal-footer">
                    <input id="cod" name="id" type="hidden" />
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">cancelar</button>
                    <button type="submit" class="btn btn-primary">Confirmar</button>
                </div>
            </form>
        </div>
    </div>
</div>